---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/components/Footer.astro';
import Header from '../layouts/components/Header.astro';
---

<Layout>
  <Header />
  <main class="grow">
    <section class="hero min-h-[70vh] bg-base-100">
      <div class="hero-content text-center">
        <div class="max-w-2xl">
          <h1>TEAM</h1>
          <p class="py-6 text-lg">
            Vi er et diskgolf team basert i Bergen, dedikert til å fremme
            sporten og skape et inkluderende miljø for alle nivåer av spillere.
          </p>
          <div class="flex gap-4 justify-center">
            <a href="#team" class="btn btn-primary">Møt laget</a>
            <a href="#contact" class="btn btn-outline">Kontakt oss</a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
