---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/components/Footer.astro';
import Header from '../layouts/components/Header.astro';
import Hero from '../components/Hero.astro';
import ValueProps from '../components/ValueProps.astro';
import TeamTeaser from '../components/TeamTeaser.astro';
import SponsorTeaser from '../components/SponsorTeaser.astro';
---

<Layout
  title="Team Bergen? – Diskgolfteam fra Bergen og Vestlandet"
  description="Team Bergen? er et diskgolfteam fra Bergen. Vi trener sammen, konkurrerer på Vestlandet og nasjonalt, og ønsker å vokse diskgolfmiljøet i regionen. Søker sponsorer!"
>
  <Header />
  <main class="grow">
    <Hero />
    <ValueProps />
    <TeamTeaser />
    <SponsorTeaser />
  </main>
  <Footer />
</Layout>
