---
import Layout from '../layouts/Layout.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
---

<Layout>
  <main>
    <ThemeToggle />
    <h1>Hello, World!</h1>
    <button class="btn btn-primary">Click me</button>
  </main>
</Layout>
